**Importing the necessary libraries**

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as soup
import html.parser
from selenium import webdriver

**The url for scraping**

In [2]:
url = 'https://foodmandu.com/Restaurant/Index'

**Requesting to read the url**

In [3]:
driver = webdriver.Firefox()
driver.get(url)

In [4]:
html = driver.execute_script('return document.documentElement.outerHTML')

In [5]:
sel_soup = soup(html, 'html.parser')

In [6]:
name_container=sel_soup.find_all('a',{'class':'ng-binding'})

In [7]:
name = [i.text.strip() for i in name_container ]

In [8]:
#adress and cousine container
anc = sel_soup.find_all('span',{'class':'ng-binding'})

In [9]:
anc = [i.text.strip() for i in anc]

In [10]:
#converting to a dataframe so that manipulating the datas would be easier
anc = pd.DataFrame(anc)

In [11]:
#dropping all the unnecessary coloumns
anc=anc[anc[0]!='Approx: 0 km']

In [12]:
anc.head()

                                  0
0                      Set Location
1              Jhamsikhel, Lalitpur
3                            Nepali
4            Dhobighat-04, Lalitpur
6  Multi Cuisine | Indian | Biryani

In [13]:
anc.tail()

                        0
718     Thamel, Kathmandu
720  Thai | Halal | Asian
721    Basbari, Kathmandu
723          Thai | Asian
724     Go to old website

In [14]:
#the strings in the first and the last index are useless, so dropping them
anc.drop([0,718],axis=0,inplace=True)

In [15]:
anc.head()

                                  0
1              Jhamsikhel, Lalitpur
3                            Nepali
4            Dhobighat-04, Lalitpur
6  Multi Cuisine | Indian | Biryani
7                 Thamel, Kathmandu

In [16]:
#dividing the anc dataframe into adress and cousine
anc=anc[0].tolist()

In [17]:
adress,cousine = [],[]
for idx,c in enumerate(anc):
    if idx==0:
        adress.append(c)
    elif idx%2 == 0:
        adress.append(c)
    else:
        cousine.append(c)

**Writing data to a new csv file**

In [18]:
data = pd.DataFrame({'Name':name,
                     'Adress':adress,
                     'Cousine':cousine})

In [19]:
data.head()

,Name,Adress,Cousine
0,Achaar Ghar,"Jhamsikhel, Lalitpur",Nepali
1,Ageno,"Dhobighat-04, Lalitpur",Multi Cuisine | Indian | Biryani
2,Alchemy Pizzeria,"Thamel, Kathmandu",Italian | Pizza
3,Alice Restaurant,"Gairidhara, Kathmandu",Japanese | Multi Cuisine | Nepali
4,Alina's Cafe,"New Baneshwor, Kathmandu",Multi Cuisine

In [20]:
data.to_csv('KhajaTime.csv',index=False)